.container_main_screen {
  background-color: #222a35;
}

img {
  align-items: center;
  width: 700px;
  height: 80px;
}

#title {
  background-color: #222a35;
}

.body {
  max-width: 1500px;
  max-height: 640px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--inner);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 26px;
  color: var(--capiton);
}

input[type=submit] {
  background-color: #fff;
  color: #000;
  border: none;
  right: 15px;
  float: right;
}

.container {
  height: 200px;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #222a35;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #fff;
  opacity: 0.5;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
}

.smenu .btn_active {
  color: white;
}